language: php

php:
    - '5.6'
    - '7.0'
    - '7.1'
    - '7.2'

install:
  - composer install --no-interaction

script:
  - ./vendor/bin/codecept run unit --coverage --coverage-xml

after_script:
  - ./vendor/bin/codacycoverage clover tests/_output/coverage.xml